<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Victor Moraes - Professional Home Page</title>

        @*Bootstrap core css*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

        @*Animation CSS*@
        <link href="~/lib/landing_page/css/animate.css" rel="stylesheet" />
        <link href="~/lib/landing_page/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        @*Custom styles for this template*@
        <link href="~/lib/landing_page/css/style.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/lib/lightbox/dist/css/lightbox.min.css" />
    </head>
    <body id="page-top" class="landing-page no-skin-config">
        <div class="navbar-wrapper">
            <nav class="navbar navbar-default navbar-fixed-top navbar-expand-md" role="navigation">
                <div class="container">
                    <a class="navbar-brand" style="font-size:20px;" href="/">Victor Moraes</a>
                    <div class="navbar-header page-scroll">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="nav-link page-scroll" href="#page-top">Home</a></li>
                            <li><a class="nav-link page-scroll" href="#sobre-mim">Sobre mim</a></li>
                            <li><a class="nav-link page-scroll" href="#formacao">Formação</a></li>
                            <li><a class="nav-link page-scroll" href="#projetos">Projetos</a></li>
                            <li><a class="nav-link page-scroll" href="#tecnologias">Tecnologias</a></li>
                            <li><a class="nav-link page-scroll" href="#contato">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="">
            <main role="main">
                @RenderBody()
            </main>
        </div>

        @*Mainly scripts*@
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/popper/popper.min.js"></script>
        @*<script src="~/lib/landing_page/js/bootstrap.min.js"></script>*@
        <script src="~/lib/popper/bootstrap.min.js"></script>
        <script src="~/lib/landing_page/js/plugins/metisMenu/jquery.metisMenu.js"></script>
        <script src="~/lib/landing_page/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        @*Custom and plugin javascript*@
        <script src="~/lib/landing_page/js/inspinia.js"></script>
        <script src="~/lib/landing_page/js/plugins/pace/pace.min.js"></script>
        <script src="~/lib/landing_page/js/classie.js"></script>
        <script src="~/lib/landing_page/js/cbpAnimatedHeader.js"></script>
        <script src="~/lib/landing_page/js/plugins/wow/wow.min.js"></script>

        <script src="~/lib/lightbox/dist/js/lightbox.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @RenderSection("Scripts", required: false)

        <script>
            $(document).ready(function () {
                $('body').scrollspy({
                    target: '#navbar',
                    offset: 80
                });

                // Page scrolling feature
                $('a.page-scroll').bind('click', function (event) {
                    var link = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $(link.attr('href')).offset().top - 50
                    }, 500);
                    event.preventDefault();
                    $("#navbar").collapse('hide');
                });
            });

            var cbpAnimatedHeader = (function () {
                var docElem = document.documentElement,
                    header = document.querySelector('.navbar-default'),
                    didScroll = false,
                    changeHeaderOn = 200;

                function init() {
                    window.addEventListener('scroll', function (event) {
                        if (!didScroll) {
                            didScroll = true;
                            setTimeout(scrollPage, 250);
                        }
                    }, false);
                }

                function scrollPage() {
                    var sy = scrollY();
                    if (sy >= changeHeaderOn) {
                        $(header).addClass('navbar-scroll')
                    }
                    else {
                        $(header).removeClass('navbar-scroll')
                    }
                    didScroll = false;
                }

                function scrollY() {
                    return window.pageYOffset || docElem.scrollTop;
                }

                init();
            })();

            // Activate WOW.js plugin for animation on scrol
            new WOW().init();
        </script>
    </body>
</html>
