<!DOCTYPE html>
<html lang="en" class="cor-background">
<head>
    <meta charset="utf-8" />
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">

    <title>Victor Moraes - Professional Home Page</title>
    
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fonts/css.css">
    <link rel="stylesheet" href="~/lib/fonts/icon.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/material.min.css" />
    <link rel="stylesheet" href="~/lib/lightbox/dist/css/lightbox.min.css" />
</head>
<body class="cor-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light cor-background" style="padding-top:25px;">
            <div class="container">
                <h2><a class="text-black-50" asp-page="/Index" style="text-decoration:none;">Victor Moraes</a></h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow">
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-dark" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-dark" asp-page="/Sobre">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-dark" asp-page="/Projetos">Projetos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-outline-dark" asp-page="/Tecnologias">Tecnologias</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <br /><br />
    <footer class="border-top footer text-black-50" style="position:absolute;">
        <div class="container">
            &copy; @DateTime.Now.Year - Victor Moraes - Analista de Desenvolvimento de Sistemas
            <div class="float-right d-sm-inline-flex">
                <a class="text-info" target="_blank" href="https://www.linkedin.com/in/victormoraesti/" style="text-decoration:none;">
                    <strong>
                        LinkedIn
                    </strong>
                </a>
                &nbsp; - &nbsp;
                <a class="text-info" target="_blank" href="https://github.com/vctr-moraes" style="text-decoration:none;">
                    <strong>
                        GitHub
                    </strong>
                </a>
                &nbsp; - &nbsp;
                <a class="text-info" target="_blank" href="mailto:vctr.moraes@protonmail.com" style="text-decoration:none;">
                    <strong>
                        E-mail
                    </strong>
                </a>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/material.min.js"></script>
    <script src="~/lib/lightbox/dist/js/lightbox.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
