@page
@model ProfessionalHomePage.Pages.Projetos.AcquaJrApplicationModel
@{
    ViewData["Title"] = "AcquaJrApplication";
}

<style>
    .fade {
        opacity: 1;
    }

    .fade:hover {
        opacity: 0.7;
    }
</style>

<hr />
<h3>Acqua Jr. Application</h3>
<br />

<h4>Projeto</h4>
<p>
    Acqua Jr. Application é o projeto de desenvolvimento de um sistema de informação para a gestão de dados e processos de
    trabalho da empresa Acqua Jr.. O sistema gerencia todas as informações relevantes da empresa, oferecendo controle às
    suas principais atividades de negócio.
</p>

<h4>Cliente</h4>
<p>
    A Acqua Jr. é uma Empresa Júnior pertencente aos alunos do curso de Bacharelado em Engenharia de Aquicultura do
    Instituto Federal do Espírito Santo – campus de Alegre no estado do Espírito Santo. A empresa presta serviços
    especializados de consultoria e treinamento técnicos para produtores aquícolas da região, além de instituições
    educacionais que promovem o ensino técnico.
</p>

<h4>Tecnologias</h4>
<ul>
    <li>ASP.NET Core 3.1 LTS Razor Pages</li>
    <li>ASP.NET Identity Core</li>
    <li>Entity Framework Core</li>
    <li>C#</li>
    <li>Javascript</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>Bootstrap 4</li>
    <li>Daemonite Material UI</li>
</ul>

<h4>Imagens</h4>
<a href="~/imagens/acqua-jr-application/AcquaJrApp-HomePage.jpg" data-lightbox="roadtrip"><img height="150" class="fade" src="~/imagens/acqua-jr-application/AcquaJrApp-HomePage.jpg" /></a>
<a href="~/imagens/acqua-jr-application/AcquaJrApp-Membros.jpg" data-lightbox="roadtrip"><img height="150" class="fade" src="~/imagens/acqua-jr-application/AcquaJrApp-Membros.jpg" /></a>
<a href="~/imagens/acqua-jr-application/AcquaJrApp-Projetos.jpg" data-lightbox="roadtrip"><img height="150" class="fade" src="~/imagens/acqua-jr-application/AcquaJrApp-Projetos.jpg" /></a>
<a href="~/imagens/acqua-jr-application/AcquaJrApp-Servicos.jpg" data-lightbox="roadtrip"><img height="150" class="fade" src="~/imagens/acqua-jr-application/AcquaJrApp-Servicos.jpg" /></a>
