@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<hr />
<div class="w-75 d-flex">
    <div class="p-5 flex-fill">
        <blockquote class="blockquote mb-0">
            <p>Por definição, os analistas de sistemas pensam coisas e desafiam o modo atual de trabalho de uma organização.</p>
            <footer class="blockquote-footer">
                Alan R. Dennis <cite title="Source Title">Análise e Projeto de Sistemas</cite>
            </footer>
        </blockquote>
        <br />
        <p>
            
        </p>
    </div>
</div>
