@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="fundo">
    <hr />
    <div class="w-50 d-flex position-absolute">
        <div class="p-4 flex-fill">
            <blockquote class="blockquote mb-0">
                <p>Por definição, os analistas de sistemas pensam coisas e desafiam o modo atual de trabalho de uma organização.</p>
                <footer class="blockquote-footer">
                    Alan R. Dennis <cite title="Source Title">Análise e Projeto de Sistemas</cite>
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="d-flex float-right justify-content-end bd-highlight mb-3">
        <img src="~/imagens/img-home-page1.png" class="mt-auto p-2 bd-highlight" style="height:500px;" />
    </div>
</div>
