@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

<style>
    .imagem {
        opacity: 1;
    }

    .imagem:hover {
        opacity: 0.7;
    }
</style>

<div id="inSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>
                        Por definição,<br />
                        os analistas de sistemas pensam coisas<br />
                        e desafiam o modo atual de trabalho<br />
                        de uma organização.
                    </h1>
                    <p>Alan R. Dennis</p>
                </div>
            </div>
            <div class="header-back one"></div>
        </div>
    </div>
</div>

<section id="sobre-mim" class="container features">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1>Sobre mim</h1>
            <p></p>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-12 wow fadeInLeft">
            <small></small>
            <h2>Atuação profissional</h2>
            <p>
                Atuo como Programador de Sistemas na empresa
                <a class="text-black-50" target="_blank" href="https://www.tecsystem.com.br/">
                    <strong>Tecsystem Tecnologia em Software</strong>.
                </a>
                Atualmente, trabalhando no desenvolvimento do produto Geoserviços Online, um software de gestão e controle de serviços públicos. Possuo formação tecnológica em Análise e
                Desenvolvimento de Sistemas, com pós-graduação em Engenharia de Software. Minha especialidade é o desenvolvimento de sistemas web
                com o Microsoft ASP.NET Core, além de utilizar uma gama de outras tecnologias Microsoft para desenvolvimento e suporte ao desenvolvimento.
            </p>
            <h2>Interesses e aspirações</h2>
            <p>
                Meu foco profissional como analista é o desenvolvimento de sistemas corporativos, com ênfase em soluções de negócios para empresas.
                Ao projetar uma solução, priorizo a elaboração de uma arquitetura eficiente e aderente aos principais requisitos de qualidade.
                Uma arquitetura de software bem projetada permite uma melhor evolução do sistema, seja se adaptando às mudanças nos requisitos do
                negócio, seja incorporando novas funcionalidades à solução. Além da atenção especial dada à arquitetura, uma proposta de usabilidade
                pensada nas necessidades dos usuários, é sempre uma preocupação.
            </p>
            <p>
                Acredito no potencial da tecnologia da informação para a transformação nos negócios. Processos digitais e automatizados permitem
                alcançar maior desempenho com menor empenho, e isto pode ser traduzido em aumento da competitividade do negócio, por consequência,
                maior potencial para reter clientes e atender a uma maior fatia do mercado. A informatização confere uma série de benefícios e
                vantagens estratégicas ao negócio - os números mostram isso, e os casos de sucesso, também.
            </p>
        </div>
    </div>
</section>

<section id="formacao" class="timeline gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Formação acadêmica</h1>
                <p>Minha trajetória acadêmica, iniciada pela formação técnica em 2013.</p>
            </div>
        </div>
        <div class="row features-block">
            <div class="col-lg-12">
                <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="vertical-timeline-content wow fadeInLeft">
                            <h2>Universidade Tecnológica Federal do Paraná</h2>
                            <p>
                                Pós-graduação em Engenharia de Software
                            </p>
                            <a href="http://www.utfpr.edu.br/" target="_blank" class="btn btn-xs btn-primary">utfpr.edu.br</a>
                            <span class="vertical-date"> Pós-graduação <br /> <small>[2019 - 2020]</small> </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="vertical-timeline-content wow fadeInRight">
                            <h2>Instituto Federal do Espírito Santo</h2>
                            <p>Graduação em Análise e Desenvolvimento de Sistemas</p>
                            <a href="https://ifes.edu.br/" target="_blank" class="btn btn-xs btn-primary">ifes.edu.br</a>
                            <span class="vertical-date"> Graduação <br /> <small>[2014 - 2018]</small> </span>
                        </div>
                    </div>
                    <div class="vertical-timeline-block">
                        <div class="vertical-timeline-icon navy-bg">
                            <i class="fa fa-graduation-cap"></i>
                        </div>
                        <div class="vertical-timeline-content wow fadeInLeft">
                            <h2>Instituto Federal do Espírito Santo</h2>
                            <p>Técnico em Administração</p>
                            <a href="https://ifes.edu.br/" target="_blank" class="btn btn-xs btn-primary">ifes.edu.br</a>
                            <span class="vertical-date"> Técnico <br /> <small>[2013 - 2014]</small> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="projetos" class="team">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Projetos</h1>
                <p>Projetos para clientes ou empresas nas quais tenho trabalhado.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 wow fadeInLeft">
                <div class="team-member">
                    <img src="~/imagens/tecsystem.png" class="img-fluid rounded-circle img-small" alt="">
                    <h4><span class="navy">Geoserviços</span> • Tecsystem</h4>
                    <p>
                        O Geoserviços é um software para conduzir a gestão dos serviços públicos, garantindo resposta
                        rápida e definitiva aos problemas, traçando uma rota segura para o desenvolvimento municipal.
                    </p>
                    <a href="https://www.tecsystem.com.br/geoservicos" class="btn btn-primary">tecsystem.com.br</a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member wow fadeIn">
                    <img src="~/imagens/logo-acquajr.bmp" class="img-fluid img-small" alt="">
                    <h4><span class="navy">Acqua Jr. Application</span> • Acqua Júnior</h4>
                    <p>
                        Acqua Jr. Application é um sistema para a gestão dos dados e processos de trabalho da empresa Acqua Jr..
                        O sistema gerencia todas as informações relevantes da empresa, oferecendo controle às suas principais atividades de negócio.
                    </p>
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#exampleModal">Conheça</button>
                </div>
            </div>
            <div class="col-sm-4 wow fadeInRight">
                <div class="team-member">
                    <img src="~/imagens/micron.png" class="img-fluid rounded-circle img-small" alt="">
                    <h4><span class="navy">Integra</span> • Micron</h4>
                    <p>
                        O Integra é o software de gestão da Micron, o qual abrange a maior parte dos departamentos da empresa,
                        centralizando-os em um único sistema em plataforma web.
                    </p>
                    <a href="http://www.micron.com.br/" class="btn btn-primary">micron.com.br</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p></p>
            </div>
        </div>
    </div>
</section>

<section id="testimonials" class="navy-section testimonials" style="margin-top: 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeIn">
                <div class="testimonials-text">
                    <i style="font-size: 16px;">
                        A tecnologia da informação transformou a maneira com as empresas fazem negócios - como vendem seus produtos, como atendem seus clientes ou como gerenciam suas operações. Com isto, os softwares tornaram-se um grande aliado na busca por ganho de vantagem competitiva e, adotá-los, tem sido, cada vez mais, fundamental para a permanência das empresas em seus mercados de atuação.
                    </i>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tecnologias" class="pricing">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Tecnologias</h1>
                <p>Tecnologias com as quais trabalho diariamente em algum projeto.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Linguagens
                    </li>
                    <li>
                        C#
                    </li>
                    <li>
                        Javascript
                    </li>
                    <li>
                        HTML
                    </li>
                    <li>
                        CSS
                    </li>
                    <li>
                        SQL
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 wow fadeIn">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Frameworks
                    </li>
                    <li>
                        ASP.NET Core
                    </li>
                    <li>
                        Entity Framework
                    </li>
                    <li>
                        Angular
                    </li>
                    <li>
                        jQuery
                    </li>
                    <li>
                        Bootstrap
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 wow fadeInRight">
                <ul class="pricing-plan list-unstyled selected">
                    <li class="pricing-title">
                        Ferramentas e serviços
                    </li>
                    <li>
                        Visual Studio
                    </li>
                    <li>
                        SQL Server
                    </li>
                    <li>
                        MSTest
                    </li>
                    <li>
                        Git
                    </li>
                    <li>
                        Azure DevOps
                    </li>
                </ul>
            </div>
        </div>
        <div class="row m-t-lg">
            <div class="col-lg-12 text-center m-t-lg">
                <p>
                    Atualmente trabalho com uma gama de tecnologias Microsoft, as quais me permitem desenvolver e entregar soluções de altíssima qualidade.
                    De algumas, já tenho o domínio, e outras, ainda venho praticando para me possibilitarem entregar aplicações mais modernas e aderentes às necessidades do mercado.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="contato" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Entre em contato</h1>
                @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p>*@
            </div>
        </div>
        <div class="row m-b-lg justify-content-center">
            <div class="col-lg-3 ">
                <address>
                    <strong><span class="navy">Endereço profissional</span></strong><br />
                    Rua Moura, 307, Centro<br />
                    Castelo, ES - 29360-000<br />
                    <abbr title="Telefone comercial">Phone:</abbr> (28) 3542-1429
                </address>
            </div>
            <div class="col-lg-4">
                <p class="text-color">
                    Tem alguma ideia de como um software pode ajudar o seu negócio a se tornar mais competitivo?
                    Entre em contato comigo e vamos discutir sobre o seu projeto.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:vctr.moraes@protonmail.com" class="btn btn-primary">Envie-me um e-mail</a>
                <p class="m-t-sm">
                    Ou encontre-me nas redes sociais
                </p>
                <ul class="list-inline social-icon">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/victormoraesti/" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/vctr-moraes" target="_blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/vctr_moraes" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center m-t-lg m-b-lg">
                <p><strong>&copy; @DateTime.Now.Year Victor A. Moraes</strong><br /> Analista de Desenvolvimento de Sistemas</p>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Acqua Jr. Application</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Projeto</h4>
                <p>
                    Acqua Jr. Application é o projeto de desenvolvimento de um sistema de informação para a gestão de dados e processos de
                    trabalho da empresa Acqua Jr.. O sistema gerencia todas as informações relevantes da empresa, oferecendo controle às
                    suas principais atividades de negócio.
                </p>
                <h4>Cliente</h4>
                <p>
                    A Acqua Jr. é uma Empresa Júnior pertencente aos alunos do curso de Bacharelado em Engenharia de Aquicultura do
                    Instituto Federal do Espírito Santo – campus de Alegre no estado do Espírito Santo. A empresa presta serviços
                    especializados de consultoria e treinamento técnicos para produtores aquícolas da região, além de instituições
                    educacionais que promovem o ensino técnico.
                </p>
                <h4>Tecnologias</h4>
                <ul>
                    <li>ASP.NET Core 3.1 LTS Razor Pages</li>
                    <li>ASP.NET Identity Core</li>
                    <li>Entity Framework Core</li>
                    <li>C#</li>
                    <li>Javascript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap 4</li>
                    <li>Daemonite Material UI</li>
                    <li>Azure DevOps</li>
                </ul>
                <h4>Imagens</h4>
                <a href="~/imagens/acqua-jr-application/AcquaJrApp-HomePage.jpg" data-lightbox="roadtrip"><img height="90" class="imagem" src="~/imagens/acqua-jr-application/AcquaJrApp-HomePage.jpg" /></a>
                <a href="~/imagens/acqua-jr-application/AcquaJrApp-Membros.jpg" data-lightbox="roadtrip"><img height="90" class="imagem" src="~/imagens/acqua-jr-application/AcquaJrApp-Membros.jpg" /></a>
                <a href="~/imagens/acqua-jr-application/AcquaJrApp-Projetos.jpg" data-lightbox="roadtrip"><img height="90" class="imagem" src="~/imagens/acqua-jr-application/AcquaJrApp-Projetos.jpg" /></a>
                <a href="~/imagens/acqua-jr-application/AcquaJrApp-Servicos.jpg" data-lightbox="roadtrip"><img height="90" class="imagem" src="~/imagens/acqua-jr-application/AcquaJrApp-Servicos.jpg" /></a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
