@page
@model ProfessionalHomePage.Pages.ProjetosModel
@{
    ViewData["Title"] = "Projetos";
}

<hr />
<h3>Projetos</h3>
<br />

<div class="card-deck">
    <div class="card mb-3 shadow-sm rounded" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 align-self-center d-flex justify-content-center">
                <img src="./imagens/tecsystem.png" style="width: 7rem;" class="card-img align-self-center rounded" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="https://www.tecsystem.com.br/geoservicos" target="_blank" class="btn btn-outline-dark float-right">
                        tecsystem.com.br
                    </a>
                    <h4 class="card-title">Tecsystem</h4>
                    <h5 class="card-text"><strong>Geoserviços</strong></h5>
                    <div class="card-text">
                        <p class="text-black-50 text-justify">
                            O Geoserviços é um software para conduzir a gestão dos serviços públicos, garantindo resposta
                            rápida e definitiva aos problemas, traçando uma rota segura para o desenvolvimento municipal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3 shadow-sm rounded" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 align-self-center d-flex justify-content-center">
                <img src="./imagens/logo-acquajr.bmp" style="width: 8rem;" class="card-img align-self-center rounded" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a asp-page="Projetos/AcquaJrApplication" class="btn btn-outline-dark float-right">Conheça</a>
                    <h4 class="card-title">Acqua Júnior</h4>
                    <h5 class="card-text"><strong>Acqua Jr. Application</strong></h5>
                    <div class="card-text">
                        <p class="text-black-50 text-justify">
                            Acqua Jr. Application é o um sistema de informação para a
                            gestão de dados e processos de trabalho da empresa Acqua Jr.. O sistema gerencia todas
                            as informações relevantes da empresa, oferecendo controle às suas principais atividades de negócio.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card mb-3 shadow-sm rounded" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4 align-self-center d-flex justify-content-center">
                <img src="./imagens/micron.png" style="width: 7rem;" class="card-img align-self-center rounded" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <a href="http://www.micron.com.br/" target="_blank" class="btn btn-outline-dark float-right">
                        micron.com.br
                    </a>
                    <h4 class="card-title">Micron</h4>
                    <h5 class="card-text"><strong>Integra</strong></h5>
                    <div class="card-text">
                        <p class="text-black-50 text-justify">
                            O Integra é o software de gestão da Micron, o qual abrange a maior parte dos departamentos da empresa,
                            centralizando-os em um único sistema web.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center mb-3 shadow-sm rounded" style="max-width: 540px;"><br />
        <div class="card-body">
            <h5 class="card-title">Tire sua ideia do papel</h5>
            <p class="card-text">
                Tem alguma ideia de como um software pode ajudar o seu negócio a se tornar mais competitivo?
                Entre em contato comigo e vamos discutir sobre o seu projeto.
            </p>
            <a href="mailto:vctr.moraes@protonmail.com" class="btn btn-dark">
                <i class="material-icons">mail_outline</i>
                Contato
            </a>
        </div>
    </div>
</div>
