@page
@model ProfessionalHomePage.Pages.SobreModel

<hr />
<h3>Sobre mim</h3>
<br />
<p>
    Atuo como Programador de Sistemas desktop/web Nível A na empresa Tecsystem Tecnologia em Software e sou pós-graduado em
    Engenharia de Software pela Universidade Tecnológica Federal do Paraná. Possuo formação superior tecnológica em Análise
    e Desenvolvimento de Sistemas e Técnico em Administração, ambos pelo Instituto Federal do Espírito Santo.
</p>
