@page
@model ProfessionalHomePage.Pages.SobreModel

<hr />
<h3>Sobre mim</h3>
<br />
<p>
    Atuo como Programador de Sistemas desktop/web Nível A na empresa Tecsystem Tecnologia em Software e sou pós-graduado em
    Engenharia de Software pela Universidade Tecnológica Federal do Paraná. Possuo formação superior tecnológica em Análise
    e Desenvolvimento de Sistemas e Técnico em Administração, ambos pelo Instituto Federal do Espírito Santo.
</p>

<br />
<h4>Interesses e aspirações</h4>
<p>
    Atuo como Programador de Sistemas desktop/web Nível A na empresa Tecsystem Tecnologia em Software e sou pós-graduado em
    Engenharia de Software pela Universidade Tecnológica Federal do Paraná. Possuo formação superior tecnológica em Análise
    e Desenvolvimento de Sistemas e Técnico em Administração, ambos pelo Instituto Federal do Espírito Santo.
</p>

<br />
<h4>Formação acadêmica</h4>
<div class="row col-md-12">
    <div class="form-inline">
        <div class="media">
            <img src="./imagens/logo-ifes.png" style="width: 8rem;" class="rounded-lg mr-3 shadow-sm p-3 mb-5 bg-white rounded align-self-center">
            <div class="media-body">
                <h4 class="mt-3">Instituto Federal do Espírito Santo</h4>
                <h6>Graduação em Análise e Desenvolvimento de Sistemas</h6>
                <h6>Técnico em Administração de Empresas</h6>
            </div>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="media">
            <img src="./imagens/logo-utfpr.jpg" style="width: 8rem;" class="rounded-lg mr-3 shadow-sm p-3 mb-5 bg-white rounded align-self-center">
            <div class="media-body">
                <h4 class="mt-3">Universidade Tecnológica Federal do Paraná</h4>
                <h6>Pós-graduação em Engenharia de Software</h6>
            </div>
        </div>
    </div>
</div>
