@page
@model ProfessionalHomePage.Pages.TecnologiasModel
@{
    ViewData["Title"] = "Tecnologias";
}

<hr />
<h3>Tecnologias</h3>
<br />

<h4>Linguagens e frameworks</h4>
<br />

<div class="text-center d-flex justify-content-start">
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>ASP.NET Core</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Entity Framework</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>C#</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Javascript</strong>
        </div>
    </div>
</div>
<br />
<div class=" text-center d-flex justify-content-start">
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Angular</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>HTML</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>CSS</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Bootstrap</strong>
        </div>
    </div>
</div>

<br />
<br />
<h4>Tecnologias de gestão e suporte ao desenvolvimento</h4>
<br />

<div class="text-center d-flex justify-content-start">
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Visual Studio</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>MSTest</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>SQL Server</strong>
        </div>
    </div>
</div>
<br />
<div class="text-center d-flex justify-content-lg-start">
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Git</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>UML</strong>
        </div>
    </div>&nbsp;&nbsp;
    <div class="card shadow-sm border-secondary bg-white" style="width: 12rem;">
        <div class="card-body">
            <strong>Azure DevOps</strong>
        </div>
    </div>
</div>
<br />